.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.Search {
  width: 425px;
  height: 45px;
  display: flex;
  background-color: #807F7F;
  color: #fff;
  align-items: center;
  border-radius: 20px;
  gap: 10px;
  box-sizing: border-box;
  padding-left: 15px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  
  &:focus-within {
    border: 2px solid #58C1E8;
  }

  &.search-active {
    width: 380px;
    margin-left: 45px;
  }

  &-input {
    height: 30px;
    width: 85%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    caret-color: #58C1E8;
    cursor: pointer;
    
    &::placeholder {
      color: #fff;
    }
  }
}

.search-close-btn {
  position: absolute;
  left: 0;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.Search-dropdown {
  position: absolute;
  top: 75px;
  left: 0px;
  width: clamp(250px, 30.9vw, 445px);
  background-color: #333333;
  border-radius: 0 20px 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
  overflow-y: auto;
}

.Search-results {
  list-style: none;
  padding: 0;
  margin: 0;
  height: calc(100vh - 75px)
}

.Search-result-item,
.no-results {
  padding: 12px 15px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.Search-result-item:hover {
  background-color: #58C1E8;
}

.no-results {
  color: #aaa;
  cursor: default;
}