.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;

  &-header {
    width: 100%;
    box-sizing: border-box;
    
    .wrapper {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      padding: 0 16px;
      display: flex;
      box-sizing: border-box;

      @media (min-width: 1920px) {
        max-width: 1920px;
      }
    }
  }

  &-content {
    display: flex;
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
    margin-top: 16px;
    
    .wrapper {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      padding: 0 16px;
      display: flex;
      box-sizing: border-box;
    }
  }
}

.peoples {
  height: 100%;
  flex-shrink: 0; 
  margin-right: 20px; 
}

.chat {
  flex-grow: 1; 
  height: 100%;
}